[submodule "Homework_1/lib/forge-std"]
	path = Homework_1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Homework_1/lib/openzeppelin-contracts"]
	path = Homework_1/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
